body > textarea {
  position: initial !important;
}

.canvas-container {
  position: relative;
  width: 100% !important;
  height: auto !important;
  margin: 1rem auto;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.button-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  padding-top: 100%;
}

.canvas-input, .social-button, .modal__button {
  flex: 1 0 29%;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans';
  text-decoration: none;
  padding: 13px 20px;
  margin: 1%;
  background-color: #f36f21;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.canvas-input {
  margin: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
}

.social-button:first-child {
  margin-left: 0;
}

.social-button:last-child {
  margin-right: 0;
}

.modal__overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(48, 53, 57, 0.7);
}

.modal {
  position: fixed;
  z-index: 100;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.modal__header, .modal__body, .modal__button {
  font-family: 'Open Sans';
}

.modal > textarea {
  width: calc(100% - 0.5rem); /* textarea misses the mark just a little, the 0.5rem calculation sets it right */
  margin: 1rem auto;
}